<%- include("partial/header") -%>

<div class="box">
    <h1>Contact</h1>
    <p><%= contact %></p>
    <div class="links">
        <a href="mailto:g.hritik13@gmail.com"><img src="image/gmail.png" alt="gmail" height="32px" width="32px"></a>
        <a href="https://www.linkedin.com/in/nikhil-gupta-7627211b2"><img src="image/linkedin.png" alt="linkedin" height="32px" width="32px"></a>
        <a href="https://github.com/13Nikhilgupta"><img src="image/github.png" alt="github" height="32px" width="32px"></a>
    </div>
</div>

<%- include("partial/footer") -%>