<%- include('header'); -%>

<h1 class="box" id="heading">About</h1>

<div class="box item">
    <p>bhadkjhdn kldhlkdn lkdakjd  jbdlhd jldld lkjhldc   kldhjd fhlkhf fkjsdhv fbch bscfhshf</p>
</div>

<%- include('footer'); -%>